# Day2

# Heading 1
## Heading2
### Heading3
#### Heading4


###### Heading6

Hello ! *Good afternoon* to everyone

**GOOD AFTERNOON** all

***This is bold italic text*** in this page

# Literate programming
- Programming along with documentation

## Python
- It's a general purpose high level and interpreted programming language
     - General Purpose:
         - It is used for multi purposes--web applications, data science, machine learning 
     - High level programming language
         - A lang which is understandable by the user
     - Interpreted language
         - Line by line execution
         
- It is simple to code and easy to learn
- It is both case sensitive and space sensitive

In [6]:
# add 2 and 3=5
2+3

5

In [8]:
print(4*5)

20

### Errors in python
- An invalid statement in the programme
- 3 types
    - Syntax error
        - 
    - value error
        - 
    - Space/Indentation error
         -

# Variable
- A variable is a container to store the value/data
- Ex:
    - program="Online summer course"
- Variable assignment
    - mutli value assignment
    - mutli varialbe assignment

In [12]:
a=12
print(a)
print(b) #

12

NameError: name 'b' is not defined

In [5]:
st='123' #'9877665ggjjh'
print(type(st))
st

<class 'str'>

'123'

In [14]:
print(int(st))

123

In [16]:
s='name'
print(int(s))

ValueError: invalid literal for int() with base 10: 'name'

### print()
- Used to display the information/text on the screen
- It allows both single and double quotations
- It prints two types of values
    - Message and
    - Value

In [17]:
print('I am new to the programming')
print("Hello ! Good afternoon to everyone")

I am new to the programming
Hello ! Good afternoon to everyone

In [18]:
print('my statement ends with ")

SyntaxError: EOL while scanning string literal (<ipython-input-18-3ace385a1e89>, line 1)

In [21]:
print('jhdfkjjsdkjfdnfkjhsdkfkjdjkfnjkdhfjhgsdh')

jhdfkjjsdkjfdnfkjhsdkfkjdjkfnjkdhfjhgsdh

In [20]:
print(a)

12

In [23]:
print('Value of a is',a) # we print value and corresponding msg at a time

Value of a is 12

In [30]:
a=12
b=4
c=9
print(a,b,c,sep="@")

12@4@9

In [26]:
sr="string"
s='string2'
print(sr)
print(s)

string
string2

### Mutli value assignment
x=10
y=10

In [1]:
x=y=int(input()) 
print('x=',x)
print('y=',y)

8
x= 8
y= 8

In [36]:
num,num2=20,50 # mutli variable assignment at a time
print(num)
print(num2)

20
50

In [42]:
# write a program to perform all the arithmetic operations
# n and m
# additon =cor val
# sub = cor
# mul
# div
# power
n,m=5,6
sm=n+m
diff=n-m
mul=n*m
div=n/m
pwr=n**m
rem=n%m
print('Addition=',sm)
print('Subtraction=',diff)
print('Multiplication=',mul)
print('power value=',pwr)
print('Remainder=',rem)

Addition= 11
Subtraction= -1
Multiplication= 30
power value= 15625
Remainder= 5

In [43]:
print('Addition=',n+m)
print('Subtraction=',n-m)
print('Multiplication=',n*m)
print('power value=',n**m)
print('Remainder=',n%m)

Addition= 11
Subtraction= -1
Multiplication= 30
power value= 15625
Remainder= 5

###  Dynamic reading
- input()
    - is used to read the string data type
- int(input())
     - reading/taking the integer type of data
- float(input())
     - reading float type of data from the user

In [44]:
s=input('Enter the string:') # college
print(s)

Enter the string:Summer online python session
Summer online python session

In [2]:
num=int(input()) # 23 # used to read int type of data
print("Your number:",num)
print(int(98.23))

78
Your number: 78
98

In [ ]:
##cgpa=float(input())
#print(cgpa)
n=input()
print(n)
print(int(n))

### Type casting
- converting the data from one form to another
    - int to float
    - float to int
    - str to int
    - int to str

In [48]:
n=9
print(float(9))

9.0

In [49]:
f=8.3
print(int(f))

8

In [50]:
s='123'
s

'123'

In [51]:
print(int(s))

123

In [53]:
name='college'
print(int(name))

ValueError: invalid literal for int() with base 10: 'college'

In [55]:
#3*8=24 read these 2 numbers
# multiplication of 3 and 8 is 24
n=int(input())
m=int(input())
print('Multiplication of',n,'and',m,'=',n*m)

3
8
Multiplication of 3 and 8 = 24

In [1]:
a=int(input())

3

In [2]:
b=int(input())

8

In [3]:
a*b

24

### Operators in Python
- which performs an operation b/w 2 or more operands
    - a+b:
        - a,b are operands
        - + is an operator
        
- Types of operators
    - Arithmetic
        - +,-,*,/,**,%
    - Relational operators
        - <,>,<=,>=,==
    - Logical operators
        - or,and,not
    - Boolean operators
        - True/False
    - Bitwise operator
        - <<,>>,&,|,^
    - Identity operators
        - is, is not
    - assignment operator
        - =
    - Membership Operator
        - in,not in

In [7]:
x=10
x>10

False

In [8]:
x>2

True

In [9]:
v,v2=10,15
print(v>v2)

False

In [10]:
num=num2=14
print(num>=num2)

True

In [11]:
num

14

In [12]:
num is 14

True

In [13]:
num is not 10

True

In [14]:
num is not num2

False

In [15]:
num is num2

True

In [16]:
a,b=2,3
print(a>b)

False

### range()
- a range of numbers-->1 to 6
- a range of characters --> A to H

In [18]:
r=range(1,6)
print(r)

range(1, 6)

ASCII -->American Standard Code for Information Interchange

In [19]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [20]:
'A'+26

TypeError: can only concatenate str (not "int") to str

In [22]:
ord('A')

65

In [24]:
#90-->ch
chr(90)

'Z'

In [26]:
chr(65)

'A'

### Conditional statements
- statement may be any sentence but with some conditions
- if,else,elif
    - if condition:
        - return statment
    - else condition:
        - statement

In [34]:
num=int(input())
#print(num>10)
if num>4:
    print('Larger')
else:
    print('Smaller')

3
Smaller

In [30]:
if num>4:
    print('It is larger than 4')

It is larger than 4

In [35]:
# num is even or not
#4%2=0,6%2=0,7%2=1
num=int(input('Enter a number:'))
if num%2==0:
    print('Even')
else:
    print('Not even')

Enter a number:11
Not even

In [40]:
#even or odd
n=int(input())
if n%2 is 0:
    print('Even')
else:print('Odd')

24
Even

In [41]:
st='name'
if 'n' in st:
    print('Exist')
else:print('not exist')

Exist

In [ ]:
# check whether a character read from the user is in the given string
ch and st
ch in st

In [46]:
st=input()
if int(st) in range(1,12):
    print('Integer')
else:
    print('String')

10
Integer

In [45]:
num=int(input())
if num in range(1,20):
    print('yes')
else:
    print('no')

14
yes

In [47]:
# read 3 numbers from the user and find the larger one

In [ ]:
# read the input from the user and check whether it is int or float or character