In [1]:
# Retrieve only strings from the tuple
t=(12,89,'name',90.56,9.3,'college','summer')
for item in t:
    if type(item)==str:
        print(item)

name
college
summer

In [3]:
for ele in t:
    if str(ele).isdigit(): # strings
        print(ele)

12
89

In [6]:
# lower and upper case vowels separately present in a sentence
sentence=input()
# lower case vowels:a,e,i,o,u
# Upper case vowelse:A E I O U
def print_vowels_separately(sentence):
    for ch in sentence:
        if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u' or ch=='A' or ch=='E' or ch=='I' or ch=='O' or ch=='U':
            print(ch)
            
print_vowels_separately(sentence)

Summer ONLIne TraininG prOgrAm
u
e
O
I
e
a
i
i
O
A

In [7]:
# lower and upper case vowels separately present in a sentence
sentence=input()
vowels=('a','e','i','o','u','A','E','U','I','O')
# lower case vowels:a,e,i,o,u
# Upper case vowelse:A E I O U
def print_vowels_separately(sentence):
    print('Lower case vowelse',end=":")
    for ch in sentence:
        if ch in vowels:
            if ch.islower():
                print(ch,end=" ")
    print()
    print('Upper case vowels',end=":")
    for ch in sentence:
        if ch in vowels:
            if ch.isupper():
                print(ch,end=" ")
print_vowels_separately(sentence)

Summer Online TraINING PrOgram
Lower case vowelse:u e i e a a
Upper case vowels:O I I O

In [9]:
vowel_st='aeiouAEIOU'
st=input()
for ch in vowel_st:
    if ch in st:
        print(ch)

Rajiv GandhI University
a
e
i
I
U

In [75]:
vowels

NameError: name 'vowels' is not defined

In [1]:
vowels=('a','e','i','o','u','A','E','I','O','U')
course=input()
print('Lowecase vowels',end=":")
for ch in course:
    if ch in vowels:
        if ch.islower():
            print(ch,end=" ")
print()
print('upper case vowels',end=":")
for ch in course:
    if ch in vowels:
        if ch.isupper():
            print(ch,end=" ")
print()
print('Lowercase consonants',end=":")
for ch in course:
    if ch.islower():
        if ch not in vowels:
            print(ch,end=" ")
print()
print('Upper case consonants',end=":")
for ch in course:
    if ch.isupper():
        if ch not in vowels:
            print(ch,end=" ")

Summer Online Training Program
Lowecase vowels:u e i e a i i o a
upper case vowels:O
Lowercase consonants:m m r n l n r n n g r g r m
Upper case consonants:S T P

In [3]:
# 123 456 789 902 307-->s+=nums[1]
# 2+5+8+0+0=15
s=0
nums=input().split()
for num in nums:
    s+=int(num[1])
print('sum=',s)

123 456 789
sum= 15

In [4]:
# converting string into tuple
name='Mounika'
t=tuple(name)
t

('M', 'o', 'u', 'n', 'i', 'k', 'a')

### List
- used to store data/group of data elements
- mutable in nature
- represented by []

In [5]:
r=range(1,21)
li=list(r)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
het=[123,90,'name','word',9.23,'string123']
het

[123, 90, 'name', 'word', 9.23, 'string123']

In [7]:
het[1]

90

In [8]:
het[5]

'string123'

In [9]:
het[-1]

'string123'

In [10]:
het[-2]

9.23

In [11]:
het[0:3]

[123, 90, 'name']

In [12]:
het[-1:-4] # first one

[]

In [13]:
het[-4:-1]

['name', 'word', 9.23]

In [14]:
for ele in het:
    print(ele)

123
90
name
word
9.23
string123

In [15]:
# even no.s in a list format present in a range
nums=range(20,50,2)
evens=list(nums)
evens

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

#### List Methods
- li.append()
    - which adds new data/ele to the list at last index 
- li.remove()
    - removes the perticular ele from the list
- li.pop()
    - removes the last ele 
- li.index()
    - index of perticular item
- li.sort()
    - sort/arrange the list in an ascending order
- li.reverse()
    - reverse the list from last to first
- min(li)
    - gives us the minimum no. in the list
- max(li)
    - maximum num
- sum(li)
    - adds all the no.s present in the list
- li.extend()
    - we can extend the list by ele/list
- li.clear()
    - clears/erases entire in list

In [16]:
len('APSSDC')

6

In [17]:
len(t)

7

In [18]:
t

('M', 'o', 'u', 'n', 'i', 'k', 'a')

In [19]:
len(evens)

15

In [20]:
evens

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [21]:
# empty list -> from 1  to 6
empty=[]
empty

[]

In [26]:
for num in range(1,7):
    empty.append(num)

In [27]:
empty

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [28]:
evens

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [29]:
evens[3]

26

In [30]:
# replace the value 26 with 'twenty six'
evens[3]='twenty six'

In [31]:
evens

[20, 22, 24, 'twenty six', 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [34]:
# remove 30 from the list
evens.remove(30)

ValueError: list.remove(x): x not in list

In [33]:
evens

[20, 22, 24, 'twenty six', 28, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [35]:
evens.pop()

48

In [36]:
evens

[20, 22, 24, 'twenty six', 28, 32, 34, 36, 38, 40, 42, 44, 46]

In [37]:
evens.pop(-4)

40

In [38]:
evens

[20, 22, 24, 'twenty six', 28, 32, 34, 36, 38, 42, 44, 46]

In [39]:
evens.index(34)

6

In [40]:
random=[34,12,90,86,45,109,52,30,87]
random.sort()

In [41]:
random

[12, 30, 34, 45, 52, 86, 87, 90, 109]

In [42]:
min(random)

12

In [43]:
max(random)

109

In [44]:
sum(random)

545

In [45]:
len(random)

9

In [46]:
# list strings and integers
# strings
l=[34,'name','apssdc','123','ashok',908865]
for ele in l:
    if str(ele).isalpha():
        print(ele)

name
apssdc
ashok

In [47]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [49]:
li.extend(['ruthu','from','apssdc'])

In [50]:
li

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 'ruthu',
 'from',
 'apssdc']

In [51]:
li.append('single')

In [52]:
li

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 'ruthu',
 'from',
 'apssdc',
 'single']

In [53]:
li.append(t)

In [54]:
li

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 'ruthu',
 'from',
 'apssdc',
 'single',
 ('M', 'o', 'u', 'n', 'i', 'k', 'a')]

In [55]:
li.clear()

In [56]:
li

[]

In [57]:
del li

In [58]:
li

NameError: name 'li' is not defined

In [59]:
 # [1,2,3],[6,7,8]==>[7,9,11]
one=[1,2,3]
two=[4,5,6]
one+two

[1, 2, 3, 4, 5, 6]

In [60]:
sum(one)+sum(two)

21

In [61]:
mohan_krishna=[sum(one),sum(two)]
mohan_krishna

[6, 15]

In [62]:
three=[]
s=0
for num in range(len(two)):
    s=one[num]+two[num]
    three.append(s)
three

[5, 7, 9]

In [63]:
th=[]
s=0
for num,num2 in zip(one,two):
    s=num+num2
    th.append(s)
th

[5, 12, 21]

In [65]:
li=[1,2,3]
li2=[8,9,10]
s=0
li3=[]
for num,num2 in zip(li,li2):
    s=num+num2
    li3.append(s)
li3

[9, 11, 13]

In [66]:
st=input().split()
st

hi I am from APSSDC

['hi', 'I', 'am', 'from', 'APSSDC']

In [68]:
# read the list of no.s from the user and perform
# 123 456 678 980--> you have to add the remainder 
# sum(remainders) 7 or not
#3+6+8+0=17--no/yes

In [72]:
li=[12,34,56,90,'name','apssdc',12,90,'word','list','word']
# unique elements from the list
for item in li:
    print(item)

12
34
56
90
name
apssdc
12
90
word
list
word

In [73]:
unq=[]
for ele in li:
    if ele not in unq:
        unq.append(ele)
unq

[12, 34, 56, 90, 'name', 'apssdc', 'word', 'list']

In [4]:
# [5 28 10 89 23 10 4 82 40 16 72 50]
# minimum sum of 4 ele
# max sum of 4 ele

nums=input().split()
#nums
li=[]
for num in nums:
    li.append(int(num))
li
li.sort()
min_sum=sum(li[0:4])
max_sum=sum(li[-4:])
print("Minimum sum=",min_sum)
print('Maximum sum=',max_sum)

12 90 87 34 56 10 93 26 40 82 18 42 59
Minimum sum= 66
Maximum sum= 352

In [2]:
li=[1,2,3,4,6,7,8,9]
li[:4]

[1, 2, 3, 4]

In [5]:
10+12+18+26

66

In [6]:
93+90+87+82

352

In [7]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
new=[56,12,34,90,87]
new

[56, 12, 34, 90, 87]

In [13]:
new.sort()

In [14]:
new

[12, 34, 56, 87, 90]

In [16]:
new.reverse()

In [17]:
new

[90, 87, 56, 34, 12]

### Set
- One of the data structures in python
- is a well defined collection of data/data elements
- It can be build on an unordered data elements
- {}
- Immutable in nature
    - we cannot manipulate the data elements
- eleminates the duplicates data items

In [42]:
s={12,'hi','hello',34,'course',90,87,78.34,'hi','summer','course'}
s

{12, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'summer'}

In [20]:
s[2]

TypeError: 'set' object is not subscriptable

In [21]:
s[2:]

TypeError: 'set' object is not subscriptable

In [22]:
s[2]

TypeError: 'set' object is not subscriptable

In [23]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [24]:
s2={12,'hi','summer',34}
s2

{12, 34, 'hi', 'summer'}

In [25]:
#s2 from s
s-s2

{78.34, 87, 90, 'course', 'hello'}

In [26]:
s.difference(s2)

{78.34, 87, 90, 'course', 'hello'}

In [27]:
new={s=s2ine session',45,89,123}
new

{123, 45, 89, 'hi', 'new', 'online session', 'summer'}

In [29]:
s.intersection(new)

{'hi', 'summer'}

In [30]:
s.union(new)

{12,
 123,
 34,
 45,
 78.34,
 87,
 89,
 90,
 'course',
 'hello',
 'hi',
 'new',
 'online session',
 'summer'}

In [31]:
new.issubset(s)

False

In [32]:
s.issuperset(new)

False

In [33]:
s2.issubset(s)

True

In [34]:
s.issuperset(s2)

True

In [35]:
s=s2

In [36]:
s

{12, 34, 'hi', 'summer'}

In [37]:
s2

{12, 34, 'hi', 'summer'}

In [38]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [39]:
var=s.intersection(new)
var

{'hi', 'summer'}

In [40]:
var.intersection(other)  # 3rd

NameError: name 'other' is not defined

In [41]:
new

{123, 45, 89, 'hi', 'new', 'online session', 'summer'}

In [45]:
new.isdisjoint(s)

False

In [46]:
other={'new','new2','new3'}
other

{'new', 'new2', 'new3'}

In [47]:
other.isdisjoint(s)

True

In [48]:
s

{12, 34, 78.34, 87, 90, 'course', 'hello', 'hi', 'summer'}

In [51]:
# retrive unq elements from the list
repeated=[12,90,87,45,12,87,90,678,65]
st=set(repeated)
st

{12, 45, 65, 87, 90, 678}

### Dictionary
- key,value pair data structure
- {key:value}
- Key:any data type-->int/float/str
- value:any data structure-->str/list/tuple/set/dict
- keys are unique in nature
- keys are the references for the values
- (key,value) together called as an item

In [52]:
dic={'key':'value','string':'name','integer':123,'float':9.3}
dic

{'key': 'value', 'string': 'name', 'integer': 123, 'float': 9.3}

In [54]:
# print only keys present in this dic
print(dic.keys())

dict_keys(['key', 'string', 'integer', 'float'])

In [56]:
print(dic.values())

dict_values(['value', 'name', 123, 9.3])

In [57]:
print(dic.items())

dict_items([('key', 'value'), ('string', 'name'), ('integer', 123), ('float', 9.3)])

key:value
key2:value2
key3:value3...
keyn:valuen

In [59]:
for item in dic.keys():
    print(item)

key
string
integer
float

In [60]:
for item in dic.items():
    print(item)

('key', 'value')
('string', 'name')
('integer', 123)
('float', 9.3)

In [61]:
item_list=list(dic.items())
for item in item_list:
    print(item)

('key', 'value')
('string', 'name')
('integer', 123)
('float', 9.3)

In [63]:
#dic.items()-->key and value
for key,value in dic.items():
    print(key,value,sep=":")

key:value
string:name
integer:123
float:9.3

In [65]:
for key,value in zip(dic.keys(),dic.values()):
    print(key,value,sep=":")

key:value
string:name
integer:123
float:9.3

In [66]:
dic.popitem() # removes the last item from the dictionary

('float', 9.3)

In [67]:
dic

{'key': 'value', 'string': 'name', 'integer': 123}

In [68]:
dic.pop('string') # removes the perticular item using key

'name'

In [69]:
dic

{'key': 'value', 'integer': 123}

In [70]:
dic['key']='New value' # updating the keys

In [71]:
dic

{'key': 'New value', 'integer': 123}

In [72]:
dic['new key']='new value'

In [73]:
dic

{'key': 'New value', 'integer': 123, 'new key': 'new value'}

In [76]:
dic.update({'nk':'nv','course':'online training'})

In [75]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [77]:
dic

{'key': 'New value',
 'integer': 123,
 'new key': 'new value',
 'nk': 'nv',
 'course': 'online training'}

In [80]:
# prepare a dictionary of square values of no.s from 1 to 15
squrs={}
for num in range(1,16):
    squrs[num]=num**2
squrs

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [81]:
dic[key]=value # we can add new data to the dict/ modify the present key

In [82]:
li=[1,2,3,4]
li[2]

3

In [83]:
dic['new key']

'new value'

In [84]:
dic['new key']='modified one'

In [85]:
dic

{'key': 'New value',
 'integer': 123,
 'new key': 'modified one',
 'nk': 'nv',
 'course': 'online training',
 'float': 9.3}

In [86]:
# prepare a dic of characters from A to K with their ascii values
dic={}
value=65
for i in range(0,11):
    dic[chr(value)]=value
    value=value+1
print(dic)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75}

In [87]:
chars={}
for num in range(65,76):
    chars[chr(num)]=num
chars

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75}

In [88]:
 # prepare a dict of characters whose ascii values are even in a given range

In [89]:
for num in range('A','Z'):
    print(num)

TypeError: 'str' object cannot be interpreted as an integer

In [90]:
evas={}
for num in range(65,80):
    if num%2==0:
        evas[num]=chr(num)
print(evas)

{66: 'B', 68: 'D', 70: 'F', 72: 'H', 74: 'J', 76: 'L', 78: 'N'}

In [1]:
# dict of characters whose ascii values are prime
def is_prime(n):
    factors=0
    for num in range(1,n+1):
        if n%num==0:
            factors+=1
    if factors==2:
        return True
    else:return False
    
prm_chrs={}
st=input()
for ch in st:
    if is_prime(ord(ch)):
        prm_chrs[ch]=ord(ch)
prm_chrs

We are conducting Summer Online training Program

{'e': 101, 'a': 97, 'g': 103, 'S': 83, 'm': 109, 'O': 79}

In [95]:
prime={}
for num in range(60,120):
    count=0
    for num1 in range(1,num//2+1):
        if num%num1==0:
            count+=1
    if count==1:
        prime[num]=chr(num)
prime

{61: '=',
 67: 'C',
 71: 'G',
 73: 'I',
 79: 'O',
 83: 'S',
 89: 'Y',
 97: 'a',
 101: 'e',
 103: 'g',
 107: 'k',
 109: 'm',
 113: 'q'}

In [2]:
# maCHINe leaRNING,MacHINE LearNINg,machINE learning--># Machine Learning
# first_name last_name--> Initial. firstname
# Supriya Bhogi--> B. Supriya
# menu card

In [3]:
# read the list of no.s from the user and perform
# 123 456 678 980--> you have to add the remainder when it is divisible by 8
# sum(remainders) 7 or not
#3+6+8+0=17--no/yes

In [2]:
nums=input().split()
s=0
for num in nums:
    rem=int(num)%8
    s+=rem
if s%7==0:
    print('Divisble by 7')
else:
    print('Not divisble by 7')

123 456 678 980
Not divisble by 7

In [3]:
123%8

3

In [4]:
456%8

0

In [5]:
678%8

6

In [6]:
980%8

4

In [7]:
3+0+6+4

13